.container {
  padding: 0 2rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttonWrapper {
  margin-top: 16px;
}

.preview {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
